<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-black">ディズニーデラックス作品10選</h1>
    <h2 class="text-black">ディズニーデラックスの作品のうち10作をランダムで表示します。</h2>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <%= link_to '10選を表示', new_choice_path, class: 'btn btn-block btn-blue' %>
      </div>
    </div>
    <%#= link_to 'ディズニーデラックスはこちら(外部リンク)', 'https://theater.disney.co.jp/#!/', target: :_blank %>
  </div>
</div>
